<div class="nav-bar">
    <i class="material-icons icon-menu" onclick="menuResponsive()">menu</i>
    <figure>
        <img src="/assets/img/logo-tec.png" alt="Foto de ..." title="Nome do usuário aqui">
        <figcaption>Olá, TECPRIME</figcaption>
    </figure>
</div>

<nav class="side-nav" id="menu">
    <div class="logo">[ QWERTY ]</div>

    <ul>
        <li><a routerLink='/' routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons">dashboard</i>Página inicial</a></li>
        <li><a routerLink='usuarios' routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons">people</i>Usuários</a></li>
        <li><a routerLink='usuarios/cadastrar-usuario' routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons">person_add</i>Cadastrar Usuário</a></li>
        <li><a routerLink='usuarios/editar-usuario' routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons">edit</i>Editar Usuário</a></li>
    </ul>
</nav>

<div class="content-dashboard">

    <router-outlet></router-outlet>

</div>